.column {
    float: left;
    width: 18%;
    background-color: #4d97ff
  }
  .columnbig {
    float: right;
    width: 82%;
    background-color: #ff7b00
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  a:link {
    color: #ff7b00;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ff7b00;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff7b00;
    background-color: transparent;
    text-decoration: transparent;
  }
  
  a:active {
    color: orange;
    background-color: transparent;
    text-decoration: none;
  }
  body {
    margin: 0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
  }
  html {
    height: 100%;
    width: 100%;
  }
  .dropbtn {
    background-color: #fcfcfc;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #fcfcfc;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #fcfcfc;}
  
  .show {display: block;}